html    {
    height: 100%;
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 1024;
    
            }

header  {
    background-color: red;
    height: 123px;
    width: 1024px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


body    {
    background-color: black;
    background-image: url(image/Background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 1024;
    
            }

nav {
background-color: rgba(0, 0, 0, 0.301);
width: 1024px;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-top: 14px;
padding-bottom: 14px;
margin-top: 14px;
margin-bottom: 14px;
 }

footer {
    background-color: rgba(0, 0, 0, 0.5);
   padding-top: 9px;
   padding-bottom: 9px; 
   width: 1024px;
   margin-left: auto;
   margin-right: auto;
    }

    p {
        font-size: 22px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        }
        a {
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        
        }
        
        nav a {
            text-decoration: none;
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
        
        }
        
        footer p {
        font-size: 15px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        
        }
        h1 {
            font-size:25px;
            color: black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            margin-left: 435px;
            margin-right: 435px;
            text-align: center;
            
        }
        .Service    {
         display: block;
         
        }
    h2 {
        font-size:25px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 435px;
        margin-right: 435px;
        text-align: center;
         
    }
    
