html    {
    height: 100%;
}


body{
    background-color: black;
    background-image: url(image/Background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
    margin-bottom: 35rem;
    margin: 0;
}

.container {

    margin-left: auto;
    margin-right: auto;
    
    
            }

header  {
    background-color: red;
    height: 123px;
    width: 1024px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

nav {
background-color: rgba(0, 0, 0, 0.301);
width: 1024px;
margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-bottom: 1px;
}

main {
    height: 400px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1px;
    padding-left: 240px;
    padding-right: 240px;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.5);
       padding-top: 9px;
       padding-bottom: 9px; 
       width: 100%;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       margin-top: 100px;
       bottom: 0;
       position: fixed;
       height: 50px;
       left: 0px;
       right: 0px;
       margin-bottom: 0px;
        }
h1 {
    font-size:84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    } 

h2  {
    font-size: 42px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
} 
h3  {
    font-size: 21px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
p {
font-size: 22px;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;


}
a {
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;

}

nav a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

footer p {
font-size: 15px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;

}

.map {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 100px;

}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 10px;
}
.img-wrapper    {
    position: relative;
    overflow: hidden;

}
.img-wrapper > img  {
display: block;
width: 100%;
aspect-ratio: 1 / 1;
object-fit: cover;
object-position: center;
}
.img-wrapper > .content {
position: absolute;
inset: 0;
font-size: 3rem;
padding: 1rem;
background: rgba(0, 0, 0, 0.692);
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
.img-wrapper > img,
.img-wrapper > .content {
    transition: 0.2s ease-in-out;
}
.img-wrapper > .content.fade  {
    opacity: 0;
}
.img-wrapper:hover > .content.fade  {
    opacity: 1;
}
.img-wrapper:hover >img.blur    {
    filter: blur(4px);
}
.column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 10px;
}
